/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    height: 100vh !important;
    width: 100vw !important;
    min-height: 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    height: 100vh;
    width: 100vw;
}

.carousel-header-icon {
    position: relative;
    margin: auto;

    max-height: 24vh !important;

    max-width: 80%;
    width: auto;
}

.item-content {
    position: relative;
    flex-direction: column;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption {
    position: static !important;
    text-shadow: none;
}

.carousel-caption h3 {
    padding-bottom: 16px;
}

.centered-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.yellow {
    background-color: #E1BB34;
}

.blue {
    background-color: #26558A;
}

.dark-blue {
    background-color: #282828;
}

.btn-outline-secondary {
    border-color:#FFF !important;
    color: #FFF !important;
}