body {
  background-color: $med-gray;
}

//10px Gutter
.gutter-8.row {
  margin-right: -4px;
  margin-left: -4px;
}
.gutter-8 > [class^="col-"], .gutter-8 > [class^=" col-"] {
  padding-right: 4px;
  padding-left: 4px;
}
