@import '../../style/utilities.scss';

// .rs-card {
//     border-radius: 2px;
//     background-color: white;
//     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
//     margin-bottom: 8px;
//   }
  
.card-img-container {
  background-color: #182329;
  width: 100%;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  @include aspect-ratio(16, 9);
}

.card-img-top-custom {
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .card-body {
//   .card-title {
//     width: 40%;
//     font-size: 18px;
//     margin: 24px auto 24px 16px;
//   }

.card-icons {
  margin: 0px 0px 0px 8px;
  height: 24px;
  width: auto;
  img {
    height: 24px;
    width: auto;
    padding-right: 8px;
  }
}

//   .card-title-contents {
//     display: flex;
//     align-items: center;
//     justify-contents: flex-end;
//   }
// }
  