@import '../../style/utilities.scss';

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rs-video-card {
  text-decoration: none !important;
  color: #182329 !important;
}