// page specific scss
// pages should be contained with a wrapper class and that should be the top-level
// class surrounding all scss in a file

.carousel-header-icon {

  position: relative;
  margin: auto;

  width: 24vw;
  max-width: 300px;
  height: auto;
  top: 25%;
  transform: translateY(-50%);
}