/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption */
.carousel-fullscreen .carousel-caption {
    //top: 50%;
    //bottom: auto;
    //-webkit-transform: translate(0, -50%);
    //-ms-transform: translate(0, -50%);
    //transform: translate(0, -50%);
}
