{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
    <link href='{{ url_for('static', filename='dist/index.bundle.css') }}' rel='stylesheet' type='text/css'>
</head>

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>About Page</h1>
    </div>
    <p> Contributions: </p>
    <p> Total commits: {{ total_commits }} </p>
    <ul>
      {% for contributor in commit_data %}
      <li>Team member: {{ contributor[0] }}, number of commits: {{ contributor[1]}}</li>
      {% endfor %}
    </ul>
    <p> Total issues: {{ total_issues }} </p>
    <ul>
      {% for team_member in issue_data %}
      <li>Team member: {{ team_member }}, number of issues: {{ issue_data[team_member] }}</li>
      {% endfor %}
    </ul>

    </ul>

</div>
{% endblock %}
