{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
    <link href='{{ url_for('static', filename='dist/index.bundle.css') }}' rel='stylesheet' type='text/css'>
</head>

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Single Item Page, {{ item['name'] }}!</h1>
    </div>
    <p> Name: {{ item['name']}} </p>
    <p> Examine Info: {{item['examine_info']}} </p>
    <p> Skills: </p>
    <ul>
      {% for skill in item['skills'] %}
      <li><a href={{url_for('get_skill', skill_id=skill, _external=True)}}>Skill </a></li>
      {% endfor %}
    </ul>
    <p> Videos: </p>
    <ul>
      {% for video in item['videos'] %}
      <li><a href={{url_for('get_video', video_id=video, _external=True)}}>Video </a></li>
      {% endfor %}
    </ul>

</div>
{% endblock %}
