{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Single Video Page, {{ video['name'] }}!</h1>
    </div>
    <p> Name: {{video['name']}} </p>
    <p> Url: {{video['video_url']}} </p>
    <p> Items: </p>
    <ul>
      {% for item in video['items'] %}
      <li><a href={{url_for('get_item', item_id=item, _external=True)}}>Item </a></li>
      {% endfor %}
    </ul>
    <p> Skills: </p>
    <ul>
      {% for skill in video['skills'] %}
      <li><a href={{url_for('get_skill', skill_id=skill, _external=True)}}>Skill </a></li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
