{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default"></nav>
<div class="container">
    <div class="page-header">
        <h1>About Page</h1>
    </div>
    <p> Contributions: </p>
    <p> Total commits: {{ total_commits }} </p>
    <ul>
      {% for contributor in commit_data %}
      <li>Team member: {{ contributor[0] }}, number of commits: {{ contributor[1]}}</li>
      {% endfor %}
    </ul>
    <p> Total issues: {{ total_issues }} </p>
    <ul>
      {% for team_member in issue_data %}
      <li>Team member: {{ team_member }}, number of issues: {{ issue_data[team_member] }}</li>
      {% endfor %}
    </ul>

    </ul>

</div>
{% endblock %}
