{% extends "base.html" %}

{% block title %}RuneScraper{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div id="carousel-example-generic" class="carousel carousel-fullscreen slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color: #E1BB34">
                <div class="item-content">
                    <img class="carousel-header-icon" src="{{ url_for('static', filename='img/sword_asset.svg') }}" />
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Inventory of all the items available within the game</h1>
                        <a type="button" class="btn btn-o-light" href="/items">Explore Items</a>
                    </div>
                </div>
            </div>

            <div class="item" style="background-color: #26558A">
                <div class="item-content">
                    <img class="carousel-header-icon" src="{{ url_for('static', filename='img/skills_asset.svg') }}" />
                    <div class="carousel-caption">
                        <h1>Complete collection of skills and requirements for each</h1>
                        <a type="button" class="btn btn-o-light" href="/skills">Explore Skills</a>
                    </div>
                </div>
            </div>
            <div class="item" style="background-color: #282828">
                <div class="item-content">
                    <img class="carousel-header-icon" src="{{ url_for('static', filename='img/yt_reddit_asset.svg') }}" />
                    <div class="carousel-caption">
                        <h1>Community engagement like never before</h1>
                        <a type="button" class="btn btn-o-light" href="/community">Explore The Community</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}
