{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default"></nav>
<div class="container" id="item" data-id="{{ item['id'] }}">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="info">General Information</p>
            <div class="detail-container">
                <div class="left-side">
                    <img src="{{item['icon']}}" class="icon"/>
                    <h1>{{item['name']}}</h1>
                    <p class="subtext uppercase">{{item['type']}}</p>
                    <p>{{item['examine_info']}}</p>
                </div>
                <div class="right-side">
                    <p class="medium-title">Other Information</p>
                    <p class="small-title">Price</p>
                    <p class="subtext">{{item['market_price']}}</p>
                    <h6>Weight</h6>
                    <p class="subtext">{{item['weight']}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="info">Community Sources</p>
            <div id="community"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/item.js') }}"></script>
{% endblock %}