{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default"></nav>
<div class="container" id="skill" data-id="{{ skill['id'] }}">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="info">General Information</p>
            <div class="detail-container">
                <div class="left-side">
                    <img src="{{skill['icon']}}"/>
                    <h1>{{skill['name']}}</h1>
                    <p>{{skill['description']}}</p>
                </div>
                <div class="right-side">
                    <p class="medium-title">Other Information</p>
                    <p class="small-title">Members Only</p>
                    <p class="subtext">{{skill['members_only']}}</p>
                    <h6>Max Level</h6>
                    <p class="subtext">{{skill['max_level']}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="community"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/skill.js') }}"></script>
{% endblock %}