{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="info">{{ video['name'] }}</p>
            <p class="info-small">Video Category: {{ video['category'] }}</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src={{ video['video_url'] }} frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}
